.dataTable {
    margin: 13px 0;
}

table.dataTable {
    tbody {

        th,
        td {
            border: 1px solid #eee;
        }
    }

    thead {

        th,
        td {
            border: 1px solid #eee;
        }
    }
}



.ic-products-img-td {
    img {
        max-width: 60px;
        margin-right: 20px;
    }
}

.iti {
    width: 100% !important;
}
