.footer {
    @media (max-width: 575px) {
        font-size: 12px;
    }
}

.ic-sales-position {
    position: absolute;
    left: 24px;
}

.ic-card-sales {
    padding: 20px 24px 3px 11px;
}

.large-deviced {
    display: none;
}

.ic-top-products-heading {
    padding-bottom: 14px;
}

.ic-products-card {
    border-radius: 5px;
}

.product-slider-heads {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    grid-column-gap: 24px;
    grid-row-gap: 24px;

    @media (max-width: 1700px) {
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    }

    @media (max-width: 1366px) {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }

    @media (max-width: 1240px) {
        grid-template-columns: repeat(auto-fill, minmax(108px, 1fr));
    }

    @media (max-width: 1199px) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: 800px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 500px) {
        grid-template-columns: repeat(2, 1fr);
    }

    .ic-products-card {
        padding: 5px;

        img {
            max-height: 150px;
            width: 100%;
            object-fit: cover;
        }

        .ic-product-content {
            h6 {
                margin: 3px 0;

                @media (max-width: 1700px) {
                    font-size: 12px;
                }
            }

            p {
                @media (max-width: 1700px) {
                    font-size: 10px;
                }
            }
        }
    }

}

.ic-best-products-items {
    .slick-list.draggable {
        max-height: 446px !important;

        @media (max-width: 1400px) {
            max-height: 400px !important;
        }

        @media (max-width: 1300px) {
            max-height: 350px !important;
        }
    }

    .media {
        padding: 5px;
        border: 1px solid #f3f4f5;
        margin-top: 6px;
        margin-right: 2px;

        img {
            max-width: 150px;
            margin-right: 10px;

            @media (max-width: 1400px) {
                max-width: 129px;
            }

            @media (max-width: 1300px) {
                max-width: 110px;
            }

            @media (max-width: 1199px) {
                max-width: 92px;
            }
        }

        h6 {
            margin-bottom: 5px;
            margin-top: 3px;
        }

        p {
            margin-bottom: 2px;
            font-size: 14px;
            line-height: 18px;

            @media (max-width: 1199px) {
                font-size: 11px;
                line-height: 14px;
            }

            span {
                font-weight: 500;
            }
        }

    }
}

.ic-menu-larged-deviced {
    @media (min-width: 767px) {
        display: none;
    }

    @media (max-width: 767px) {
        display: block;
    }
}

.ic-income-chart {
    h5 {
        @media (max-width: 1199px) {
            font-size: 14px;
        }

    }
}

.layout-chart-1 {
    position: relative;

    &::before {
        content: "";
        height: 20px;
        width: 20px;
        border: 5px solid #39cdcc;
        background: #fff;
        border-radius: 50%;
        position: absolute;
        top: 31px;
        right: 0;
        z-index: 9;

        @media (max-width: 1580px) {
            top: 24px;
        }

        @media (max-width: 900px) {
            top: 18px;
        }

        @media (max-width: 575px) {
            top: 36px;
        }

        @media (max-width: 480px) {
            top: 28px;
        }

        @media (max-width: 366px) {
            top: 21px;
        }
    }
}

.layout-chart-2 {
    position: relative;

    &::before {
        content: "";
        height: 20px;
        width: 20px;
        border: 5px solid #767adf;
        background: #fff;
        border-radius: 50%;
        position: absolute;
        top: 31px;
        right: 0;
        z-index: 9;

        @media (max-width: 1580px) {
            top: 24px;
        }

        @media (max-width: 900px) {
            top: 18px;
        }

        @media (max-width: 575px) {
            top: 36px;
        }

        @media (max-width: 480px) {
            top: 28px;
        }

        @media (max-width: 366px) {
            top: 21px;
        }
    }
}

.apexcharts-legend-series {
    margin: 3px 5px !important;
}

.ic-card-toolbar {
    margin-bottom: 5px;

    h4 {
        font-size: 20px;
        line-height: 30px;
        font-weight: 400;
    }
}

.table-condensed {
    .prev {
        border: 1px solid $primary;
    }

    .next {
        border: 1px solid $primary;
    }
}

.barcode-image {
    height: 40px;
}



.ic-expance-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ic-max-height-same {
    height: calc(100% - 24px);
}

.ic-layout2-body {
    .ic-piechart-part {
        ul {
            @media (min-width: 1441px) {
                padding-top: 58px;
            }

            @media (max-width: 1440px) {
                padding-top: 85px;
                display: block;
            }
        }
    }
}

.ic-piechart-part {
    #pieChart {
        margin: 0 auto;

        @media (max-width: 1500px) {
            width: 250px;
            height: 250px;
        }
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0;
        padding-top: 50px;
        padding-left: 0;

        @media (min-width: 1551px) and (max-width: 1600px) {
            padding-top: 17px;
        }

        @media (max-width: 1550px) {
            padding-top: 17px;
            display: block;
        }

        @media (max-width: 1440px) {
            padding-top: 50px;
            display: block;
        }

        li {
            list-style: none;

            span {
                display: flex;
                align-items: center;

                span {
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    display: inline-block;
                    margin-right: 8px;
                }
            }

            .this-mounth {
                color: #E36F6F;

                .circle-this {
                    background: #E36F6F;
                }
            }

            .last-mounth {
                color: #6FE388;

                .circle-last {
                    background: #6FE388;
                }
            }
        }
    }

}

.ic-expance-text-heading-part {
    @media screen and (max-width: 1200px) {
        max-width: 100%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }

    @media screen and (min-width: 1200px) and (max-width: 1440px) {
        max-width: 100%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }


}

.ic-expance-form-heads {
    @media screen and (max-width: 1158px) {
        max-width: 70%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
        flex: 0 0 70%;
    }

    @media screen and (max-width: 991px) {
        max-width: 100%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }

    @media screen and (min-width: 1159px) and (max-width: 1440px) {
        max-width: 100%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }
}

.ic-expance-form-chart {
    @media screen and (max-width: 1158px) {
        max-width: 30%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
        flex: 0 0 30%;
    }

    @media screen and (max-width: 991px) {
        max-width: 100%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }

    @media screen and (min-width: 1159px) and (max-width: 1440px) {
        max-width: 100%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }
}

.input-daterange {
    padding-top: 30px;
    text-align: right;

    &.ic-mobile-range {
        @media screen and (max-width: 1158px) {
            padding-top: 16px;
        }
    }
}

.edit-font {
    .text-muted {
        @media (max-width: 991px) {
            font-size: 12px;
        }
    }
}

.ic-print-btn-head {
    text-align: right;

    @media (max-width: 991px) {
        text-align: left;
    }
}

// last scss
.conversation-list {
    max-height: 400px;
}

#logout-form {
    display: none;
}
