/node_modules
/public/hot


/storage/*.key
/storage/installed
/vendor

.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.zip
.rar

/.idea
/.vscode

/public/js/
webpack.mix.js
.env
composer.lock
package-lock.json
/public/mix-manifest.json

